@import url("../../index.css");

.dashboard_top {
    display: flex;
    align-items: center;
}

.dashboard_left {
    width: 900px;
    flex-direction: column;
}

.dashboard_section1 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.dashboard_section2 {
    display: flex;
    justify-content: space-between;
}

.dashboard_section2_left {
    width: 595px;
}

