@import url("../../index.css");

.dashboard_top {
    display: flex;
    align-items: center;
}

.dashboard_left {
    width: 900px;
    flex-direction: column;
}

.dashboard_section1 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.topCategory {
    width: 80px;
    height: 18px;
    margin-left: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: bold;
    color: rgb(91, 227, 104);
    background-color: rgb(194, 239, 199);
    border-radius: 5px;
    border: 1px solid rgb(91, 227, 104);
}

