@import url("../index.css");

.registerPage {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.registerForm {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.rem;
    width: clamp(290px, 90vw, 390px);
    height: 450px;
    box-shadow: 2px 2px 8px 1px;
    border-radius: 8px;
}

a {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    color: rgb(69, 69, 236);
}

a:active {
    opacity: 0.6;
}

.error-message-register {
    font-size: 11px;
    font-weight: bold;
    margin-left: 10px;
    color: rgb(245, 58, 58);
}

.register_text {
    margin: 0;
    text-align: center;
    font-size: 11px;
    font-family: var(--text-front);
    color: #000;
}

.registerPage2 {
    height: 100%;
    padding: 3rem clamp(25rem, calc(12vw + 13rem), 35rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head_text {
    font-size: clamp(1.5rem, calc(7vw + 1rem), 2rem);
    text-align: center;
}

.section_title {
    margin: 0;
    padding: calc(1rem / 3);
    margin-top: 1.5rem;
    margin-bottom: calc(1.5rem / 2);
    font-size: 0.8em;
    background-color: var(--btn-hover-color);
    color: var(--primary-color);
    border-left:4px solid var(--primary-color);
}

.registerForm2 {
    width: 100%;
}

.section1, .section2{
    display: flex;
    gap: 1rem;
}

.section3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.address_secondline_section {
    display: flex;
    gap: 1rem;
}

.section_firstNameField, .section_surnameField, 
.field1, .field2, .field3,
.address_field1, .address_field2, .address_field3, 
.address_field4, .address_field5, .address_field6 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.button_section {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

input[type=date], input[type=number] {
    height: 2rem;
    border: 1px solid rgb(187, 182, 182);
    border-radius: 4px;
    font-family: var(--text-front);
}

