@import url('../../index.css');

.homePage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    height: 100vh;
}

h1 {
    color: var(--primary-color);
    font-family: var(--title-front);
    font-size: clamp(34px, 4vw, 46.7px);
    font-weight: 100;
    height: clamp(40px, 8vw, 100px);
}

article {
    color: var(--secondary-color);
    font-family: var(--text-front);
    font-weight: bold;
    font-size: clamp(14px, 2vw, 16px);
    margin-bottom: 23px;
}

.homePage-left {
    width: 658px;
    margin-left: clamp(20px, 8vw, 150px);
}

.homePage-right {
    width: clamp(120px, 24.3vw, 350px);
    height: 375px;
    padding: clamp(20px, 12vw, 45px);
    justify-self: end;
    margin-right: clamp(20px, 8vw, 150px);
    border-radius: 15px;
    background-color: var(--primary-color);
    right: 0;
}

p {
    font-family: var(--text-front);
    font-weight: bold;
    font-size: 21px;
    color: white;
}

input[type=text] {
    width: 100%;
    height: 35px;
    border-radius: 12px;
    border-width: 0;
    padding-left: 15px;
}

input[type=text]::placeholder {
    font-family: var(--text-front);
    font-weight: bold;
    font-size: 13px;
    color: var(--primary-color);
}

.box {
    width: clamp(120px, 26vw, 365px);
    height: 40px;
    margin-top: 18px;
    border-radius: 12px;
    border-width: 0;
    background-color: var(--secondary-color);
}


