@import url('../../../index.css');

.TopSpending_Container {
    width: 95%;
    height: 115px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-02);
    border-radius: 12px;
}

.TopPanel_Container {
    margin: 0 10px;
    display: flex;
    gap: var(--size-03);
}

.img_container {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: var(--color-bg-03);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_icons {
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.infoPanel {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.myProgressBar {
    margin: 15px 10px;
    background-color: var(--color-bg-04);
    border-radius: 1000px;
    overflow: hidden;
}

.myProgressBar .progress-bar {
    height: 5px;
    background-color: var(--primary-text-04);
    border-radius: 1000px;
}

.topspending_title {
    margin-top: 8px;
    width: 4.5rem;
    font-size: 13px;
    font-weight: 600;
    color: var(--primary-text-04);
}

.topspending_year {
    margin: 0;
    width: 8.5rem;
    font-size: 10px;
    font-weight: 600;
    color: var(--secondary-text-05);
}

.topspending_amount {
    margin: 0;
    width: 50%;
    color: var(--primary-text-04);
    font-size: clamp(.5rem, calc(7vw + .5rem), 1.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
}