@import url('../../../index.css');

.total_container {
    margin: .4rem 0 .4rem .6rem;
    padding: .2rem 5rem 0 1rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 3px solid var(--secondary-clr);
    border-radius: var(--size-01);
    background-color: var(--color-bg-03);
    cursor: pointer;
}

.title {
    width: 8.5rem;
    font-size: 12px;
    font-weight: 600;
    color: var(--secondary-text-05);
}

.balance {
    margin: 0;
    color: var(--primary-text-04);
    font-size: 27px;
}
