:root {
  --text-front: "Arial Nova Condensed", Arial, sans-serif;
  --title-front: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  --primary-color: #1b321b;
  --secondary-color: #4d824d;
  --btn-hover-color: #589d58;
  --navbar-color: #496049;

  
  --secondary-text-clr: #302f2f;
  --text-clr: #545454;

  --primary-background-clr: #fcfdfd;
  --secondary-background-clr: #edeff3;
  --panel-background-clr: #fcfdfd;
  --page-border-clr: #9fa0b5;

  --primary-text-clr: #c6d1d7;
  --primary-hover-bacground-clr: #edeff3;
  --primary-hover-clr: #555663;
}

body {
  font-family: var(--text-front);
  margin-top: 0;
  border: 0.8px solid var(--page-border-clr);
  border-radius: 8px;
}
