:root {
  --text-front: "Arial Nova Condensed", Arial, sans-serif;
  --title-front: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  --primary-color: #1b321b;
  --secondary-color: #4d824d;
  --btn-hover-color: #589d58;
  --navbar-color: #496049;

  --primary-text-clr: #242323;
  --secondary-text-clr: #302f2f;
  --nav-text-clr: #545454;
  --light-gray: #dbd7d751;
}

body {
  font-family: var(--text-front);
  margin-top: 0;
}
