:root {
  --text-front: "Arial Nova Condensed", Arial, sans-serif;;

  --primary-color: #1b321b;
  --secondary-color: #4d824d;
  --btn-hover-color: #589d58;
  --navbar-color: #496049;

  --title-front: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  font-family: var(--text-front);
  margin-top: 0;
}
