@import url('../../index.css');

.general_button {
    width: 70px;
    height: 35px;
    font-size: var(--size-03);
    background-color: var(--color-bg-01);
    color: var(--color-bg-04);
    border: 1px solid var(--primary-text-04);
    border-radius: 4px;
}

.general_button:hover {
    box-shadow: 28px 0 100px var(--primary-text-04), -45px 0 100px var(--primary-text-04);
    background-color: var(--primary-text-04);
    color: var(--color-bg-01);
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.general_button:active {
    opacity: .8;
    /* -webkit-transition: opacity 500ms linear;
    -ms-transition: opacity 500ms linear;
    transition: opacity 500ms linear; */
}

.button2 {
    width: 100px;
    height: 35px;
    font-size: var(--size-02);
    font-weight: bold;
    background-color: var(--color-bg-01);
    color: var(--primary-text-04);
    border: 2px solid var(--primary-text-04);
    border-radius: 20px;
}

.button2:hover {
    box-shadow: 40px 0 100px var(--primary-text-04), -40px 0 100px var(--primary-text-04);
    background-color: var(--primary-text-04);
    color: var(--color-bg-01);
    font-weight: bold;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.button2:active {
    opacity: .8;
}

.button3 {
    height: 35px;
    padding: 0 1rem;
    color: var(--primary-text-04);
    background-color: var(--color-bg-02);
    border: 1px solid var(--color-bg-04);
    border-radius: 8px;
}

.button3:hover {
    background-color: var(--color-bg-04);
}

.button3:active {
    opacity: .8;
}

.primary_button {
    width: 100px;
    height: 35px;
    font-size: var(--size-02);
    font-weight: bold;
    background-color: var(--color-bg-01);
    border: none;
    color: var(--primary-clr);
    border-radius: 1000px;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary_button::after{
    content: '';
    position: absolute;
    height: 109%;
    width: 104%;
    border-radius: 1000px;
    background-image: linear-gradient(to right, var(--primary-clr), var(--secondary-clr));
    z-index: -1;
}

.primary_button:hover{
    z-index: 0;
    box-shadow: 40px 0 100px var(--primary-clr), -40px 0 100px var(--secondary-clr);
    color: var(--primary-text-04);
    transition: 350ms;
}

.primary_button:active {
    opacity: .8;
}