@import url('../../index.css');

.general_button {
    width: 70px;
    height: 35px;
    font-size: var(--size-03);
    background-color: var(--color-bg-01);
    color: var(--color-bg-04);
    border: 1px solid var(--primary-text-04);
    border-radius: 4px;
}

.button2 {
    width: 100px;
    height: 35px;
    font-size: var(--size-02);
    font-weight: bold;
    background-color: var(--color-bg-01);
    color: var(--primary-text-04);
    border: 2px solid var(--primary-text-04);
    border-radius: 20px;
}

.primary_button {
    width: 100px;
    height: 35px;
    font-size: var(--size-02);
    font-weight: bold;
    background-color: var(--color-bg-01);
    border: none;
    color: var(--primary-clr);
    border-radius: 1000px;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary_button::after{
    content: '';
    position: absolute;
    height: 109%;
    width: 104%;
    border-radius: 1000px;
    background-image: linear-gradient(to right, var(--primary-clr), var(--secondary-clr));
    z-index: -1;
}

.primary_button:hover{
    z-index: 0;
    box-shadow: 40px 0 100px var(--primary-clr), -40px 0 100px var(--secondary-clr);
    color: var(--primary-text-04);
    transition: 350ms;
}