@import url('../../../index.css');

.usertag_container {
    /* width: 140px; */
    height: 2.1rem;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-03);
    border-radius: 4px;
}

.usertag_container:hover {
    background-color: var(--color-bg-04);
}

.profile_image {
    margin: 0 5px;
    width: 1.6rem;
    height: 1.6rem;
    border: 2px solid var(--primary-text-04);
    border-radius: 50%;
}

.profile_content {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.username {
    font-size: 12px;
    font-weight: 600;
}

.email {
    font-size: 8px;
    color: var(--secondary-text-05);
}