@import url('../../../index.css');

.feature_card {
    width: 10rem;
    height: 10rem;
    border-radius: 20px;
}

.point {
    width: 20px;
    height: 20px;
    background-color: var(--primary-text-04);
    border-radius: 50%;
}

.card_icons {
    width: 4.25rem;
    height: 4.25rem;
}

