@import url('../../index.css');

.HomePage_Container {
    height: 100%;
    padding: var(--size-02);
    display: flex;
    
    gap: calc(var(--size-02) + var(--size-01));
}

.Home_Panel1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--size-02) + var(--size-01));
}

.toppanel_container {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    gap: calc(var(--size-02) + var(--size-01));
}

.section_left {
    display: flex;
    gap: calc(var(--size-02) + var(--size-01));
}

.middle_container {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "panel1 panel2"
    "panel3 panel4";
    gap: calc(var(--size-02) + var(--size-01));
}

.bottom_container {
    width: 100%;
    height: 100%;
    background-color: var(--color-bg-02);
    border: 1px solid var(--color-bg-04);
    border-radius: var(--size-03);
}

.title_container {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: var(--size-02);
}

.listIcons {
    width: 20px;
    height: 20px;
}

.Home_Panel2 {
    background-color: var(--color-bg-03);
}

.Home_Panel3 {
    background-color: var(--color-bg-03);
}

.Home_Panel4 {
    background-color: var(--color-bg-03);
}

@media (max-width: 70rem) {
    .HomePage_Container {
        flex-direction: column;
    }

    .Home_Panel1 {
        width: 100%;
    }
}

@media (max-width: 30.25rem) {
    .middle_container {
        width: 100%;
        grid-template-areas: 
        "panel1"
        "panel2"
        "panel3" 
        "panel4";
    }
    .TopPanel_container {
    /* background-color: var(--color-bg-03); */
    
    gap: calc(var(--size-02) + var(--size-01));
}
}