@import url('../../index.css');

.HomePage_Container {
    height: 100%;
    padding: var(--size-01);
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-template-areas: 
    "box1 box1 box2 box2"
    "box1 box1 box3 box4"
    "box1 box1 box3 box4";
    gap: calc(var(--size-02) + var(--size-01));
}

.Home_Panel1 {
    background-color: var(--color-bg-03);
}

.Home_Panel2 {
    background-color: var(--color-bg-03);
}

.Home_Panel3 {
    background-color: var(--color-bg-03);
}

.Home_Panel4 {
    background-color: var(--color-bg-03);
}

@media (max-width: 68.75rem) {
    .HomePage_Container {
        grid-template-areas: 
            "box1 box1"
            "box1 box1"
            "box2 box2"
            "box2 box2"
            "box3 box4"
            "box3 box4";
    }
}

@media (max-width: 31.25rem) {
    .HomePage_Container {
        grid-template-areas:
        "box1"
        "box2"
        "box3"
        "box4";
    }
}