@import url("../index.css");

.loginForm {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    width: clamp(250px, 90vw, 350px);
    height: 450px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 30px;
    box-shadow: 2px 2px 8px 1px;
    border-radius: 8px;
}

.backPointer {
    color: #000;
    display: flex;
    align-items: center;
    font-family: var(--text-front);
    font-size: 16Wpx;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
}

.backPointer:hover {
    color: #000;
    opacity: 0.8;
}

img {
    width: 30px;
    height: 35px;
    border-width: 0;
}

input[type=text], input[type=password] {
    width: 100%;
    height: 32px;
    border: 1px solid rgb(187, 182, 182);
    border-radius: 4px;
    padding: 0 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: var(--text-front);
}

input[type=text]::placeholder, input[type=password]::placeholder {
    opacity: 1;
}

label {
    color: var(--primary-color);
    opacity: 0.9;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
} 

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc; /* line style */
}

.divider span {
    background-color: #fff;
    padding: 0 10px;
    color: #555;
    font-weight: 500;
}

button[type=button], button[type=submit] {
    width: 100%;
    height: 30px;
    margin-top: 25px;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    background-color: var(--secondary-color);
    color: white;
}

button[type=button]:hover, button[type=submit]:hover {
    background-color: var(--btn-hover-color);
}

button[type=button]:active, button[type=submit]:active {
    opacity: 0.8;
}

a {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    padding-bottom: 15px;
}

a:hover {
    color: rgb(69, 69, 236);
}

a:active {
    opacity: 0.6;
}

.error_panel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: clamp(5px, 2vw, 20px);
}

.error-message {
    width: 300px;
    height: 20px;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
    background-color: rgb(227, 68, 68);
    color: white;
    text-align: center;
}

