@import url('../index.css');

button {
    border-radius: 34px;
    border-width: 0;
    width: 100px;
    height: 35px;
    font-family: var(--text-front);
    font-weight: bolder;
    font-size: 14px;
    color: white;
    background-color: var(--secondary-color);
}

button:hover {
    background-color: var(--btn-hover-color);
}

button:active {
    opacity: 0.8;
}