@import url("../index.css");

.totalAmountPanel {
    width: 290px;
    height: 130px;
    font-family: var(--text-front);
    color: var(--text-clr);
    background-color: var(--primary-background-clr);
    border-radius: 6px;
}

.topPanel {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.monthDropdown {
    width: clamp(20px 4vw, 70px);
    height: 18px;
    margin-left: 10px;
    font-size: 9px;
    color: var(--text-clr);
    background-color: var(--secondary-background-clr);
    border-radius: 5px;
    border: 1px solid var(--secondary-background-clr);
}

.monthDropdown:focus {
    outline: 10px;
    box-shadow: 10px;
}

.monthDropdown:hover {
    opacity: 0.8;
}

.monthDropdown:active {
    opacity: 0.6;
}

.line_graph {
    width: 100%;
    height: 70px;
    display: flex;
}

.line_graph canvas {
    margin: 0 auto;
    display: block;
}

.price {
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    color: var(--primary-hover-clr);
}

.expenseReportPanel {
    width: 100%;
    height: 353px;
    margin-top: 15px;
    color: var(--text-clr);
    background-color: var(--primary-background-clr);
    border-radius: 6px;
}

.multiLineChart {
    height: 300px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.multiLineChart canvas {
    display: block;
}

.barChart {
    width: 290px;
}