@import url("../index.css");

.totalAmountPanel {
    width: 200px;
    height: 120px;
    padding: 5px;
    background-color: var(--light-gray);
    border-radius: 5px;
}

.topPanel {
    display: flex;
    align-items: center;
    height: 20px;
}

.monthDropdown {
    margin-left: 10px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray;
}

.line_graph {
    width: 180px;
    height: 70px;
    margin: 5px;
}

.price {
    margin: 0;
}