@import url("../index.css");

.totalAmountPanel {
    width: 200px;
    height: 120px;
    padding: 5px;
    background-color: rgb(110, 139, 164);
    border-radius: 5px;
}

.topPanel {
    display: flex;
    align-items: center;
    height: 20px;
}

.line_graph {
    width: 180px;
    height: 70px;
    margin: 5px;
}

.price {
    margin: 0;
}