@import url("../index.css");

.totalAmountPanel {
    width: 235px;
    height: 130px;
    padding: 5px;
    margin-right: 25px;
    font-family: var(--text-front);
    color: var(--primary-text-clr);
    background-color: var(--light-gray);
    border-radius: 6px;
}

.topPanel {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    margin-left: 5px;
}

.monthDropdown {
    width: 70px;
    height: 18px;
    margin-left: 10px;
    font-size: 9px;
    color: var(--nav-text-clr);
    border-radius: 5px;
    border: 1px solid var(--light-gray);
}

.monthDropdown:focus {
    outline: 10px;
    box-shadow: 10px;
}

.monthDropdown:hover {
    opacity: 0.8;
}

.monthDropdown:active {
    opacity: 0.6;
}

.line_graph {
    width: 100%;
    height: 70px;
    display: flex;
}

.line_graph canvas {
    margin: 0 auto;
    display: block;
}

.price {
    margin: 0;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 14px;
}