@import url('../index.css');

/* css for left navigation in main page */

.left_navigation {
    width: 280px;
    height: 100%;
    top: 0;
    left: 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-02);
    transition: transform 0.5s ease, width 0.5s ease;
    overflow: hidden;
}

.left_navigation.open {
    transform: translateX(-100%);
    width: 0;
    overflow: hidden;
}

.navigator_container {
    height: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.top_container {
    display: flex;
    flex-direction: column;
    gap: var(--size-01);
}

.logo_container {
    display: flex;
    gap: var(--size-02);
    font-size: 15px;
}

.logo_icon {
    width: 2rem;
    height: 2rem;
}

h2 {
    margin: 0;
}

.underline {
    margin-top: var(--size-02);
    width: 198px;
    border: .5px solid var(--primary-text-04);
    border-radius: 1000px;
}

.middle_menu {
    margin: 0;
    margin-top: 2rem;
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--size-03);
}

.menu_list {
    width: 185px;
    list-style-type: none;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: var(--size-01);
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.menu_list:hover {
    background-color: var(--color-bg-03);
    border-radius: 8px;
}

.menu_list:active {
    opacity: .8;
}

.menuIcons {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: var(--size-02);
}

.bottom_menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: end;
    gap: var(--size-04);
}

/* css for main page top panel */
.main_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--size-01);
    margin: var(--size-01);
}

.top_panel_container {
    width: 100%;
    height: 2.5rem;
    background-color: var(--color-bg-02);
    border-radius: var(--size-01);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search_field {
    margin: 0 var(--size-02);
    padding: .2rem;
    height: 1.7rem;
    display: flex;
    align-items: center;
    background-color: var(--color-bg-01);
    border: 1px solid var(--color-bg-04);
    border-radius: calc(var(--size-02) / 1.5);
}

.search_field:has(input[type="text"]:focus) {
    border: 1px solid var(--color-bg-03);
    box-shadow: 0 0 3px var(--secondary-text-05);
}

.menu, .searchIcon {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 var(--size-01);
    padding: 4px;
}

.menu:hover, .searchIcon:hover {
    opacity: .8;
}

.menuIcons:active, .searchIcon:active {
    opacity: .6;
}

.searchField {
    width: 12rem;
    height: 1.7rem;
    margin: 0;
    background-color: var(--color-bg-01);
    color: var(--primary-text-04);
    font-size: var(--size-03);
    border: none;
}

.searchField:not(:placeholder-shown) {
    color: var(--secondary-text-05);
}

::placeholder {
    color: var(--color-bg-04);
}

.searchField:focus {
    outline: none;
}

.balance_panel_container {
    width: 100%;
    height: 5rem;
    display: flex;
    /* gap: var(--size-02); */
    background-color: var(--color-bg-02);
    background-color: var(--color-bg-02);
    border-radius: var(--size-01);
}

@media (max-width: 52rem) {
    .left_navigation {
        transform: translateX(-100%);
        width: 0;
    }

    .main_container {
        flex: 1 1 100%;
    }
}

@media (max-width: 27.5rem) {
    .balance_panel_containe {
        height: 10rem;
    }
}
