@import url('../index.css');

/* css for left navigation in main page */
.left_navigation {
    width: 280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-02);
}

.navigator_container {
    height: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.top_container {
    display: flex;
    flex-direction: column;
    gap: var(--size-01);
}

.logo_container {
    display: flex;
    gap: var(--size-02);
    font-size: 15px;
}

.logo_icon {
    width: 2rem;
    height: 2rem;
}

h2 {
    margin: 0;
}

.underline {
    margin-top: var(--size-02);
    width: 100%;
    border: .5px solid var(--primary-text-04);
    border-radius: 1000px;
}

.middle_menu {
    margin: 0;
    margin-top: 2rem;
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--size-03);
}

.menu_list {
    list-style-type: none;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: var(--size-01);
    font-size: 12px;
    font-weight: 400;
}

.menu_list:hover {
    background-color: var(--color-bg-03);
    border-radius: 8px;
}

.menu_list:active {
    opacity: .8;
}

.menuIcons {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: var(--size-02);
}

.bottom_menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: end;
    gap: var(--size-04);
}

/* css for main page top panel */
.main_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--size-01);
    margin: var(--size-01);
}

.top_panel_container {
    width: 100%;
    height: 2.5rem;
    background-color: var(--color-bg-02);
    border-radius: var(--size-01);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchField {
    width: 14rem;
    height: 1.2rem;
    margin: 0 var(--size-01);
    color: var(--color-bg-02);
    background-color: var(--color-bg-01);
    border: 1px solid var(--color-bg-02);
    border-radius: var(--size-01);
    padding: .5rem;
}

.searchField:focus {
    outline: none;
    border: 1px solid var(--color-bg-03);
}

.usertag_container {
    width: 140px;
    height: 2.1rem;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-03);
    border-radius: 4px;
}

.profile_image {
    margin: 0;
    margin-right: 5px;
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid var(--color-bg-03);
    border-radius: 50%;
}

.profile_content {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.username {
    font-size: 11px;
    font-weight: 600;
}

.email {
    font-size: 8px;
}

.balance_panel_container {
    width: 100%;
    height: 4.5rem;
    background-color: var(--color-bg-02);
    background-color: var(--color-bg-02);
    border-radius: var(--size-01);
}

