@import url("../../index.css");

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f8f9fa;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar, .log-in-btn {
    color: var(--navbar-color);
    font-weight: bold;
    text-decoration: none;
    font-size: 19px;
    padding: 15px;
}

.navbar:hover, .log-in-btn:hover {
    color: var(--btn-hover-color);
}

.header_logo {
    font-family: var(--title-front);
    color: var(--primary-color);
    font-size: 22px;
    text-align: center;
}

.header_left {
    margin-left: clamp(20px, 8vw, 150px);
}

.header_right {
    margin-right: clamp(20px, 8vw, 150px);
}
